@charset "utf-8";
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover,
a:focus {
  outline: none;
}
::selection,
::-moz-selection {
  background : #39f;
  color      : #fff;
  text-shadow: none;
}
::selection,
::-moz-selection {
  background : #39f;
  color      : #fff;
  text-shadow: none;
}
a {
  text-decoration: none;
}
html {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size                  : 16px;
  font-weight                : normal;
  line-height                : 1.5;
  background-color           : #fff;
  color                      : #4d5058;
  -webkit-text-size-adjust   : 100%;
  -webkit-font-smoothing     : antialiased;
  -moz-osx-font-smoothing    : grayscale;
  -webkit-tap-highlight-color: transparent;
}
body{
  font-family: "빙그레체", serif;
  margin: 0;
}
ul, li{
  list-style: none;
}
header,section,article,aside,footer,main,a,button,input,textarea,img,nav,ul,ol,li,p,h1,h2,h3,h4,h5,h6,div,span{
  margin   : 0;
  padding  : 0;
  /* 폰트 크기 상속 */
  font-size: inherit;
}

div#header{
  position : absolute;
  top: 10px;
  left: 20px;
  width: 100%;
}
div#menu{
  position : absolute;
  top: 100px;
  left: 20px;
  width: 100%;
}
div#content{
  position: absolute;
  top: 150px;
  left: 400px;
  color: black;

}
div#footer{
  position: absolute;
  bottom: 20px;
  left: 50px;
  right: 50px;
  height: 30px;
  border-top: 1px solid #000000;
}
/* HEADER */
.maintitle{
  color: #000000;
  font-weight: bold;
  font-size: 30px;
}
/*menu*/
  div#menu > li{
    font-weight: bold;
    font-size: 15px;
    color: black;
    padding-top: 10px;
}
 div#menu a {
  position: relative;
  overflow: hidden;
   padding: 0 0 5px;
   color: black;
 }
 div#menu a:after {
    background: #000000;
    content: '';
  height: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
    left: 0;
    opacity: 0;
    position: absolute;
    transform: translate3d(-100%, 0, 0);
    width: 100%;
}
 div#menu a:hover::after {
    animation: link-hoverstate .5s linear forwards;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes link-hoverstate {
 0% {
  opacity:1;
  transform:translate3d(-100%, 0, 0)
 }
 55% {
  transform:translate3d(100%, 0, 0)
 }
 56% {
  transform:translate3d(100%, calc(0.5rem + 4px), 0)
 }
 100% {
  opacity:1;
  transform:translate3d(0, calc(0.5rem + 4px), 0)
 }
}

/* TABLE */
table{
  border-collapse: collapse;
}

td, th{
  line-height: 18px;
  border-bottom: 1px solid #eee;
  vertical-align: top;
  padding: 5px 15px;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

