<!DOCTYPE html>
<html lang = "ko">
  
  <head>
    <title>{% block title % }Django Web Programing{% endblock %} </title>
    <link rel="stylesheet" type = "text/css" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" type = "text/css" href="{% block extrastyle %}{% endblock %}" />
  </head>
  
  <body>
    
    <div id = "header"> <!-- 프로그램 헤더(가장 윗)부분 -->
      <h4 class = "maintitle">Easy&ampFast Django Web Programming </h4>
      <h4 class = "welcome">Welcome, <a href="#">shkim</a>/
        <a href="#">Change Password</a> /
        <a href="#">Logout</a>
      </h4> 
    </div>
    <div id ="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Photo</a></li>
      <li><a href="#">add&bigtriangledown;</a>
        <ul> 
          <li><a href="#">Blog</a></li>
          <li><a href="#">Photo</a></li> 
        </ul>
      </li>
      <li><a href="#">Archive</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">Admin</a></li>
      {% block content %}{% endblock %}
      {% block footer %}{% endblock %}
      
    </div>
    
  </body>
</html>
